<% unless logged_in?%>
	<div class="jumbotron">

		<h3 class="text-center">Welcome to 4leggedfiends.com</h3>
		<p>
			4 legged fiends lets you find out once and for all whether your pet is truely your friend... or just another fiend. 
		</p>
		<p>
			Upload photos of your pet and our users will vote to determine your pet's true nature. <%= link_to "Log in", new_session_path %> or <%= link_to "sign up", new_user_path %> to start uploading and voting, or just enjoy some animal pics!
		</p>
		<div class="text-center">
			<%= link_to "Sign Up Now!", new_user_path, class: "btn btn-danger btn-lg"%>
		</div>
	</div>
<% end %>
<div class="row">
<!-- Button to select what type of pictures -->
	<div class="index-button-container">
		<div class="btn-group index-button">
		  <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle"> <%= params[:type].capitalize  %> <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		  	<li><%= link_to "All #{params[:type] == "all" ? "&#10003;" : ""}".html_safe, "/all/#{params[:sort]}"%>
		    <li><%= link_to "Friends #{params[:type] == "friends" ? "&#10003;" : ""}".html_safe, "/friends/#{params[:sort]}"%></li>
		    <li><%= link_to "Fiends #{params[:type] == "fiends" ? "&#10003;" : ""}".html_safe, "/fiends/#{params[:sort]}"%></li>
		  </ul>
		</div>
		<!-- Button to select how to sort pictures -->
		<div class="btn-group index-button">
	    <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle"> <%= params[:sort].capitalize  %> <span class="caret"></span></button>
	    <ul class="dropdown-menu">
		    <li><%= link_to "Newest #{params[:sort] == "newest" ? "&#10003;" : ""}".html_safe, "/#{params[:type]}/newest"%> </li>
		    <li><%= link_to "Top #{params[:sort] == "top" ? "&#10003;" : ""}".html_safe, "/#{params[:type]}/top"%></li>
	    </ul>
		</div>
	</div>
</div>

<div class="row">
	
	<% @pictures.each_with_index do |picture, index| %>

		<div class="col-md-2 col-sm-3 col-xs-6 text-center <%= "col-md-offset-1" if index%5 == 0 %>">
			<%= link_to image_tag(picture.image.url(:thumb), size: "160x160", class: "pic-thumb"), picture_path(picture, {type: params[:type], sort: params[:sort], index: index}) %>
		</div>

	<% end %>

</div>