<h1>Add a new picture!</h1>

<%= form_for @picture do |f| %>
	<div>
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :image, "Picture" %>
		<%= f.file_field :image %>
	</div>
	<div>
		<%= f.label :caption, "Caption" %>
		<%= f.text_field :caption %>
	</div>
	<%= f.submit "Submit Photo" %>
<% end %>