
<h2><%= params %></h2>

<p><%= cookies[:results]  %></p>

<h1><%= @picture.title %></h1>
<h5>
	<%= link_to @picture.user.username, user_path(@picture.user) %>
	&middot;
	<%= @picture.posted_at %>
</h5>

<%=image_tag(@picture.image.url)%>

<% if @picture.caption.present? %>
	<p><%= @picture.caption %></p>
<% end %>

<%= link_to "Prev", picture_path(@prev_picture, {type: params[:type], sort: params[:sort], index: @prev_index}) %>

<%= link_to "Next", picture_path(@next_picture, {type: params[:type], sort: params[:sort], index: @next_index}) %>


<%= form_for(:vote, method: :patch, url: picture_vote_path({vote_type: "friend"})) do |f|%>
	<%= f.submit "Friend", disabled: !logged_in? || @picture.voted_friend?(current_user) %>
<% end %>

<%= form_for(:vote, method: :patch, url: picture_vote_path({vote_type: "fiend"})) do |f|%>
	<%= f.submit "Fiend", disabled: !logged_in? || @picture.voted_fiend?(current_user) %>
<% end %>


<%= link_to "edit", edit_picture_path(@picture) if logged_in_as(@picture.user.id) %>

<%= link_to "delete", :picture, method: :delete, data: { confirm: "Are you sure you want to delete this picture?" } if logged_in_as(@picture.user.id) %>