<div class="row">
	
	<div class="col-xs-10 col-xs-offset-1 picture-box">
		<div>
			<h1><%= @picture.title %></h1>
			<h5>
				<%= link_to @picture.user.username, user_path(@picture.user) %>
				&middot;
				<%= @picture.posted_at %>
			</h5>
			<div class="picture-sub-box">
				<%=image_tag(@picture.image.url, class: "img-responsive main-pic")%>
			</div>
			<% if @picture.caption.present? %>
				<p><%= @picture.caption %></p>
			<% end %>
		</div>
	</div>
	
</div>

<div class="row">
	<div class="col-xs-2 col-xs-offset-1">
		<%= link_to "<", picture_path(@prev_picture, {type: params[:type], sort: params[:sort], index: @prev_index, user_id: params[:user_id]}), class: "btn btn-danger btn-block next-prev-btn" %>
	</div>

	

	<div class="col-xs-3 vote-btn text-center">
		<%= form_for(:vote, method: :patch, url: picture_vote_path(params.merge({vote_type: "friend"}))) do |f|%>
			<%= f.submit "Friend", disabled: !logged_in? || @picture.voted_friend?(current_user), class: "vote-btn btn-block friend-vote" %>
		<% end %>
	</div>
	<div class="col-xs-3 vote-btn text-center">
		<%= form_for(:vote, method: :patch, url: picture_vote_path(params.merge({vote_type: "fiend"}))) do |f|%>
			<%= f.submit "Fiend", disabled: !logged_in? || @picture.voted_fiend?(current_user), class: "vote-btn btn-block fiend-vote" %>
		<% end %>
	</div>

	<div class="col-xs-2">
		<%= link_to ">", picture_path(@next_picture, {type: params[:type], sort: params[:sort], index: @next_index, user_id: params[:user_id]}), class: "btn btn-danger btn-block next-prev-btn" %>
	</div>
</div>


<div class="text-center">
	<%= link_to "edit", edit_picture_path(@picture) if logged_in_as(@picture.user.id) %>

	<%= link_to "delete", :picture, method: :delete, data: { confirm: "Are you sure you want to delete this picture?" } if logged_in_as(@picture.user.id) %>
</div>