<h1><%= @picture.title %></h1>
<h5>
	<%= link_to @picture.user.username, user_path(@picture.user) %>
	&middot;
	<%= @picture.posted_at %>
</h5>

<%=image_tag(@picture.image.url)%>

<% if @picture.caption.present? %>
	<p><%= @picture.caption %></p>
<% end %>

<%= form_for(:vote, method: :patch, url: picture_vote_path({vote_type: "friend"})) do |f|%>
	<%= f.submit "Friend" %>
<% end %>

<%= form_for(:vote, method: :patch, url: picture_vote_path({vote_type: "fiend"})) do |f|%>
	<%= f.submit "Fiend" %>
<% end %>


<%#= link_to "edit", edit_picture_path(@picture) if logged_in? %>