<div class="row">
	<div class="last-pic-container hidden-xs">
		<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>'.html_safe, picture_path(@prev_picture, {type: params[:type], sort: params[:sort], index: @prev_index, user_id: params[:user_id]}), id: "prev-pic-btn" %>
	</div>

	

	<div class="col-xs-12 col-sm-10 col-sm-offset-1 picture-box">
		<div>
			<h1><%= @picture.title %></h1>
			<h5>
				<%= link_to @picture.user.username, user_path(@picture.user) %>
				&middot;
				<%= @picture.posted_at %>
			</h5>
			<div class="picture-sub-box">
				<%=image_tag(@picture.image.url, class: "img-responsive main-pic")%>
			</div>
			<% if @picture.caption.present? %>
				<div class="caption">
					<%= @picture.caption %>
				</div>
			<% end %>
		</div>
		<div class="row text-center">
			<div id="friend-btn" data-type="friend" data-voted="<%= logged_in? && @picture.voted_friend?(current_user) %>" class="pic-button btn btn-default <%= logged_in? && @picture.voted_friend?(current_user) ? 'selected' : 'unselected' %> <%= logged_in? ? '' : 'disabled' %>"></div>
			<div id="fiend-btn" data-type="fiend" data-voted="<%= logged_in? && @picture.voted_fiend?(current_user) %>" class="pic-button btn btn-default <%= logged_in? && @picture.voted_fiend?(current_user) ? 'selected' : 'unselected' %> <%= logged_in? ? '' : 'disabled' %>"></div>
			<div data-votes="<%= @picture.total_votes %>" data-friends="<%= @picture.num_friend_votes %>" class="progress friend-progress pic-friend-bar">
			  <div class="progress-bar friend-progress-bar" role="progressbar" style="width: <%= @picture.friend_percentage %>%;"></div>
			</div>
			<span id="num-votes"><%= "#{pluralize(@picture.total_votes, 'Vote')}" %></span>
			<div id="fav-btn" data-favorited="<%= logged_in? && current_user.favorited?(@picture) %>" class="pic-button btn btn-default <%= logged_in? && current_user.favorited?(@picture) ?  'selected' : 'unselected' %> <%= logged_in? ? '' : 'disabled' %>"></div>
		</div>
	</div>
	
	<div class="next-pic-container hidden-xs">
		<%= link_to '<span class="glyphicon glyphicon-chevron-right"></span>'.html_safe, picture_path(@next_picture, {type: params[:type], sort: params[:sort], index: @next_index, user_id: params[:user_id]}), id: "next-pic-btn" %>
	</div>

</div>

<div class="row">
	<div id="comments-container" class="col-xs-12 col-sm-10 col-sm-offset-1">
		<div class="row">
			<div class="col-xs-8 col-sm-10 col-lg-11" >
				<textarea id="comment-input" placeholder="<%= logged_in? ? 
				'Add a comment...' : 'Log in to add a comment...'%>" <%= logged_in? ? "" : "disabled" %> ></textarea>	
			</div>
			
			<button id="comment-submit" class="btn btn-danger <%= logged_in? ? "" : "disabled" %>">Submit</button>
		</div>
		
		<% @picture.comments.each do |comment| %>
			<div class="single-comment-box">
				<%= link_to comment.user.username, user_path(comment.user) %> 
				<span> : <%= comment.posted_at %></span>
				<p><%= comment.comment_text %></p>
			</div>
		<% end %>
	</div>
</div>



<!-- <div class="text-center">
	<%#= link_to "edit", edit_picture_path(@picture), class: "red-link" if logged_in_as(@picture.user.id) %>

	<%#= link_to "delete", :picture, method: :delete, data: { confirm: "Are you sure you want to delete this picture?" }, class: "red-link" if logged_in_as(@picture.user.id) %>
</div> -->